<h1>Лабораторная №11</h1>
<% if @result.class == Array %>
  <table border="1">
    <tr>
      <th>Номер итерации:&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th>Результат вычисления:&nbsp;&nbsp;&nbsp;&nbsp;</th>
    </tr>

    <% @result.size.times do |i| %>
      <tr>
        <td><%= (i+1).to_s + '.' %></td>
        <td><%= @result[i] %></td>
      </tr>
    <% end %>
  </table>
  <h3>Итоговый результат:</h3>
  <%= @result[@result.size - 1] %>
<% else %>
  <h2>Введены неверные данные, повторите попытку!</h2>
<% end %>
</br>
</br> <%= link_to "Data base in xml form", "/allxml" %>
<% if Model.count > 1 && Model.first[:id] == 1 %>
  </br> <%= link_to "Previous value", "/laba10/output?v1=#{Model.find(Model.count - 1)[:num]}" %>
<% end %>
</br> <%= link_to "Repeat calculation", :laba10_input %>
